<div class="flex w-[8cm] h-[11cm] bg-gradient-to-bl from-orange-500 via-amber-400 to-orange-300 relative top-[-3cm] border-black skew-y-[15deg] overflow-hidden drop-shadow-md z-10">
    <img src="/profile-pic.png" alt="profile-pic" class="absolute w-screen left-2 h-[11cm] top-8 -skew-y-[15deg]"/>
</div>