---
import MainLayout from "./layouts/main-layout.astro"
import TopSection from "./components/top-section.astro"
import MainSection from "./components/main-section.astro"
import BottomSpiral from "./components/ornaments/BottomSpiral"
---


<MainLayout>
	<div class="container mx-auto px-[0.5cm] drop-shadow-md border h-[29.7cm] w-[21cm]">
		<TopSection/>
		<MainSection/>
		<BottomSpiral/>
	</div>
</MainLayout>
