---
import MainLayout from "./layouts/main-layout.astro"
import TopSection from "./components/top-section.astro"
---


<MainLayout>
	<div class="container mx-auto px-[0.5cm] drop-shadow-md border h-[29.7cm] w-[21cm]">
		<TopSection/>
	</div>
</MainLayout>
